body {
    background: #2d343d;
  }
  
  .login {
    margin: 20px auto;
    width: 380px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
  }
  
  h1.login-title {
    margin: -28px -25px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align:center;
    background: #f7f7f7;
   
  }
  
.login-input {
    width: 280px;
    height: 40px;
    margin-top:10px;
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .login-input:focus {
      border-color:#6e8095;
      outline: none;
    }
 
  .login-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border: 0px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
  }

  .login-button-agregar {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #4ba156;
    border: 0px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
  }

  .login-button-ver {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #f6a597;
    border: 0px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
  }

  .login-button-administrar {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #4a6d95;
    border: 0px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
  }

  .login-button-salir {
    width: 150px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #03c5ab;
    border: 0px;
    margin-top: 10px;
    margin-left: 85%;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
  }

  .login-button-modificar {
    width: 130px;
    height: 30px;
    
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #03c5ab;
    border: 0px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
  }

  .login-button-registro{
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #6c89f0;
    border: 0px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
  }
  
  .login-lost
  {
    text-align:center;
    margin-bottom:0px;
  }
  
  .login-lost a
  {
    color:#666;
    text-decoration:none;
    font-size:13px;
  }

  h5{
    font-size:20px;
    padding: 5px 5px;
    line-height: 30px;
    font-weight: 300;
    background: #f5f5ff;
  }

  .acciones_intercambio{
    padding: 5px 5px;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;
    background: #f5f5ff;
  }
  
  .acciones_intercambio2{
    padding: 5px 5px;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;
    background: #f5f5ff;
  }
  
  .fondo{
        height: 950px;
        width: 100%;
   }
   
ul li {
background:#009696;
list-style: none;
height: 60px;
float:left;
width: 370px;
padding:10px 5px;
}
ul li a {
width: 350px;
height: 40px;
line-height: 53px;
border-bottom: 4px solid #636393;
padding:0px;
color: #fff;
font-size:18px;
font-weight:lighter;
text-align:center;
text-decoration: none;
display: block;
-webkit-transition: .2s all linear;
-moz-transition: .2s all linear;
-o-transition: .2s all linear;
transition: .2s all linear;
}
li:nth-child(1) a {
border-color: #B5222D;
}
li:nth-child(2) a {
border-color: #2222BD;
}
li:nth-child(3) a {
border-color: #D4953C;
}
li:nth-child(4) a {
border-color: #00EE33;
}
li:nth-child(5) a {
border-color: #11BB11;
}
li:nth-child(1) a:hover {
border-bottom: 35px solid #B5222D;
height: 9px;
}
li:nth-child(2) a:hover {
border-bottom: 35px solid #2222BD;
height: 9px;
}
li:nth-child(3) a:hover {
border-bottom: 35px solid #D4953C;
height: 9px;
}
li:nth-child(4) a:hover {
border-bottom: 35px solid #00EE33;
height: 9px;
}
li:nth-child(5) a:hover {
    border-bottom: 35px solid #11BB11;
height: 9px;
}